.dropdown select {
  padding: 10px;
  background-color: #cfcfcf;
}

.add-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #cfcfcf;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.selected-drinks {
  padding: 10px
}
