<!--<div class="bottle-container" [ngClass]="{ 'spinning': isSpinning }">
  <img src="../../assets/bottle.png" alt="Bottle" [style.transform]="rotationStyle" />
</div>
<button (click)="spin()">Spin</button>-->

<h2>Spin the bottle:</h2>
<div class="pointer-wrap">
  <img id="pointer" src="../../assets/icons/bottle.png" alt="pointer" [style.transform]="pointerTransform" />
</div>
<div class="btns-wrap">
  <button class="btn" (click)="spin()">Spin</button>
  <button class="btn" (click)="reset()">Reset</button>
</div>
