<div class="nav-bar">
  <button class="card" (click)="setCurrentPage('AddDrink')">Add Drink</button>
  <button class="card" (click)="setCurrentPage('SpinBottle')">Spin Bottle</button>
  <button class="card" (click)="setCurrentPage('CalculateBac')">Calculate BAC</button>
  <button class="card" (click)="setCurrentPage('ReactionTime')">Reaction Time</button>
</div>

<div class="lower-panel">
  <app-add-drink *ngIf="currentPage === 'AddDrink'"></app-add-drink>
  <app-spin-bottle *ngIf="currentPage === 'SpinBottle'"></app-spin-bottle>
  <app-calculate-bac *ngIf="currentPage === 'CalculateBac'"></app-calculate-bac>
  <app-reaction-time *ngIf="currentPage === 'ReactionTime'"></app-reaction-time>
</div>
