<div class="nav-bar">
  <button class="card" (click)="setCurrentPage('AddDrink')">Add <br> Drink</button>
  <button class="card" (click)="setCurrentPage('CalculateBac')">Calculate <br> BAC</button>
  <button class="card" (click)="setCurrentPage('ReactionTime')">Reaction <br> Time</button>
  <button class="card" (click)="setCurrentPage('SpinBottle')">Spin <br> Bottle</button>
</div>

<div class="lower-panel">
  <app-add-drink *ngIf="currentPage === 'AddDrink'"></app-add-drink>
  <app-calculate-bac *ngIf="currentPage === 'CalculateBac'"></app-calculate-bac>
  <app-reaction-time *ngIf="currentPage === 'ReactionTime'"></app-reaction-time>
  <app-spin-bottle *ngIf="currentPage === 'SpinBottle'"></app-spin-bottle>
</div>
